{% extends "base.html.twig" %}
{% block title %}
{{ title }}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1 class="display-3">{{ title }}</h1>
    <div class="alert-danger">
        {{ form_errors(form) }}
    </div>
    <div class="jumbotron shadow">
        <h3>Annonce</h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                {{ form_row(form.prix) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                {#{{ form_row(form.marque.nom) }}#}
                {{ form_row(form.carmarque) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                {#{{ form_row(form.modele) }}#}
                {{ form_row(form.carmodele) }}
            </div>
        </div>

        <h3>Images</h3>
        <div class="row">
            <div class="col-4">
                {{ form_row(form.imageOne) }}
                <p id="img-one-name"></p>
            </div>
            <div class="col-4">
                {{ form_row(form.imageTwo) }}
                <p id="img-two-name"></p>
            </div>
            <div class="col-4">
                {{ form_row(form.imageThree) }}
                <p id="img-three-name"></p>
            </div>
        </div>
        <h3>Voiture</h3>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                {{ form_row(form.voiture.kilometrage) }}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                {{ form_row(form.voiture.dateMiseCirculation) }}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                {{ form_row(form.voiture.gearbox) }}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                {{ form_row(form.voiture.energy) }}
            </div>

        </div>
        {{ form_row(form.description) }}
        <h3>Localisation</h3>
        <div class="row mb-4">
            <div class="col-12">
                <div id="result"></div>
                <div id="map" class="leaflet"></div>
            </div>
        </div>
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>



    <script>
        var map = L.map('map').setView([40.7259, -73.9805], 12);
        L.tileLayer('https://{s}-tiles.locationiq.com/v2/obk/r/{z}/{x}/{y}.png?key=e185746e0ff6bb').addTo(map);
        L.control.geocoder('e185746e0ff6bb').addTo(map).on('select', function (e) {
            var div = document.getElementById('result');

            while (div.hasChildNodes()) {
                div.removeChild(div.firstChild);
            }

            var lat = document.getElementById('produit_mapLat');
            var long = document.getElementById('produit_mapLong');
            var localisation = document.getElementById('produit_localisation');

            lat.setAttribute('value', e.latlng.lat);
            long.setAttribute('value', e.latlng.lng);
            localisation.setAttribute('value', e.feature.feature.address.name);

            var p = document.createElement('p');
            p.setAttribute('class', 'text-primary');
            p.append(e.feature.feature.address.name+' - '+e.feature.feature.address.state);

            div.appendChild(p);
        });
    </script>

    <script>
        function readURL(input, targetImage, onCreate) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                let file = input.files[0];

                if (/\.(jpe?g|png)$/i.test(file.name)) {
                    reader.onload = function (e) {
                        if (onCreate) {
                            let myImage = new Image();
                            myImage.setAttribute('class', 'img-full-width shadow rounded');
                            myImage.src = e.target.result;
                            $(targetImage).empty();
                            $(targetImage).append(myImage);
                        } else {
                            if (targetImage !== null) {
                                $(targetImage).attr('src', e.target.result);
                            } else {
                                let id = input.getAttribute('id');
                                let label = $('#label_' + id);
                                let myImage = new Image(240, 150);
                                myImage.src = e.target.result;
                                $(label).empty();
                                $(label).append(myImage);
                            }
                        }
                    };

                    reader.readAsDataURL(input.files[0]);
                } else {
                    input.value = '';
                    alert('Veuillez insérer une image au format JPEG ou PNG');
                }
            }
        }

        $('#produit_imageOne_file').change(function(){
            readURL(this, document.getElementById('img-one-name'), true);
        });
        $('#produit_imageTwo_file').change(function(){
            readURL(this, document.getElementById('img-two-name'), true);
        });
        $('#produit_imageThree_file').change(function(){
            readURL(this, document.getElementById('img-three-name'), true);
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                language: "fr",
                clearBtn: true,
                format: 'yyyy-mm-dd',
            });
        });
    </script>

    <script>
        $('#produit_carmarque').change(function () {
            let marque = $(this).find(':selected').val();
            let select = $('#produit_carmodele');
            if(marque.length > 0) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('get_modeles') }}",
                    data: { marque: marque },
                    success : function(modeles) {
                        select.removeAttr('disabled');
                        if(select.prop) {
                            var options = select.prop('options');
                        }
                        else {
                            var options = select.attr('options');
                        }

                        $('option', select).remove();

                        $.each(modeles, function(key, value) {
                            if(!jQuery.isEmptyObject(value)) {
                                let i = 0;
                                $.each(value, function (id, modele) {
                                    if(i == 0) {
                                        $('#produit_carmodeleid').attr('value', id);
                                    }
                                    i++;
                                    options[options.length] = new Option(modele, id);
                                })
                            } else {
                                select.attr('disabled', 'disabled');
                            }
                        });
                    },
                });
            } else {
                $('option', select).remove();
                select.attr('disabled', 'disabled');
            }
        });
    </script>

    <script>
        $('#produit_carmodele').change(function () {
            let modeleid = $(this).find(':selected').val();
            $('#produit_carmodeleid').attr('value', modeleid);
        });
    </script>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}